
.t1 {
    width: 4em;
    /* width: 100%; */
    background-color: rgb(255, 215, 210);
    text-align-last: right;
    border-radius: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large; 

}

.w1 {
    /* width: 100%; */
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large;        
    width: 3em;
    text-align-last: center;
    background-color: #ece6ff;
    border-radius: 50px;
        
    
}


button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     
}

table {
    table-layout: fixed;
    margin-bottom: 8px;
     
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}

.a1 {
    display:inline-block;
    box-shadow:0 0 5px 2px #00000080 inset;    
    padding: 15px;
}

#time {
    width: 80px ;
}

#words {
    width: 80px;
}

#header {
    width: auto ;
}
